header {
    background-color: #437ec2;
    color: rgb(52, 48, 40);
    text-align: left;
    padding: 20px;
}

/* nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    height: 100px;
    align-items: left;
    background-color: #37188b;
} */

/* nav a {
    flex: 1;
    color: rgb(170, 210, 228);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #367faf;
    color: black;
}  */

section {
    background-color: #cddaf5;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* .menu {
    display: inline-block;
}

.submenu {
    opacity: 0; 
    visibility: hidden;
    position: relative;
    left: 2em;
    top: 2.5em;
    background-color: #f1c40f;
    list-style-type: none;
    margin: -1.6em;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    transition: opacity 0.3s, visibility 0.3s;
}
  
.submenu a {
    padding: 0.25rem 0.5rem;
}
  
.submenu-open {
    opacity: 1;
    visibility: visible;
}  */

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #37188b;
    height: 50px;
    padding-left: 40px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    cursor: pointer;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #367faf;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #37188b;
    min-width: 160px;
    box-shadow: 5px 16px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}